nav {
  font-family: 'Bungee', cursive;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
} 



nav span {
  font-family: 'Bungee', cursive;

}

/* for classes we have to have a period */
/* for id we use # */
/* 
.nav-p1 {
  color: red;
}

#p2-id {
  color: green;
} */