nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

#navbar {
  height: 120px;
  width: 100vw;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

.arrow {
  width: 1em;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  nav {
    background-color: #0dd86c;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  }
}