.new-tweet {
  margin: auto;
  width: 100%;
  }

.new-tweet textarea {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 5px solid dimgray;
  margin-bottom: 0.8em;
}

.new-tweet footer {
  display: flex;
  justify-content: space-between;
}

.new-tweet footer button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}

.new-tweet footer .counter {
  font-family: 'Bungee', cursive;
}

.redcolor {
  color: red;
  }

/* dots are used for classes

no dot for the tags
line 22: apply the rules to any tag with class counter
that is a child of a tag with class new tweet */