.new-tweet {
  margin: auto;
  width: 100%;
}

.new-tweet textarea {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 5px solid dimgray;
  margin-bottom: 0.8em;
}

.new-tweet footer {
  display: flex;
  justify-content: space-between;
}

.new-tweet footer button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}

.new-tweet footer .counter {
  font-family: 'Bungee', cursive;
}

.redcolor {
  color: red;
}

.error {
  border: 1px solid;
  margin: 10px auto;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 460px;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

@media only screen and (min-width: 1024px) {
  .new-tweet {
    width: 90%;
  }
}