.tweet-article {
  border: thick #545149 solid;
  padding: 2rem;
  margin: 1em;
  opacity: 0.8;
}

.tweet-article:hover {
  opacity: 1;
  box-shadow: 0.8rem 0.8rem #CCCCCC;
}

.tweet-header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tweet-handle {
  flex-grow: 1;
  text-align: right;
  font-weight: bold;
}

.tweet-handle:hover {
  display: inline;
}

.tweet-avatar {
  float: left;
  width: 100px;
}

.tweet-date {
  font-size: 1rem;
  padding: 1rem;
}

.tweet-icons {
  display: none;
  float: right;
  color: darkblue;
  font-size: 0.8rem;
}

.tweet-article:hover .tweet-icons {
  display: flex;
}

.tweet-icons>div {
  margin: 5px;
}

.tweet-footer {
  font-size: 1rem;
  padding: 1rem;
}